.planetInfoController {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .planetInfoController {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
